:root {
    --color-select-background-dark: rgb(255, 53, 127);
    --color-select-text-dark: rgb(255, 219, 225);
    --color-background-dark: rgb(49, 17, 23);
    --color-text-dark:  rgb(58, 34, 43);

    --color-select-background-light: rgb(58, 34, 43);
    --color-select-text-light: rgb(255, 219, 225);
    --color-background-light: rgb(255, 219, 225);
    --color-text-light: rgb(58, 34, 43);

    --color-select-background: var(--color-select-background-light);
    --color-select-text: var(--color-select-text-light);
    --color-background: var(--color-background-light);
    --color-text: var(--color-text-light);
}

.app {
    font-family: "Consolas";
    text-align: center;
    display: grid;
    height: 100vh;
    grid-gap: 2em;
    background-color: var(--color-background);
    color: var(--color-text);
}

select {
    background-color: var(--color-select-background);
    color: var(--color-select-text);
    font-size: 2em;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-family: "Consolas";
}

.section:nth-child(1) {
    align-self: end;
}

.section:nth-child(2) {
    align-self: start;
}

.description > p {
    font-size: 35px;
    margin: 10px;
    text-transform: lowercase;
}

.picker-group > * {
    margin: 10px
}

.theme-toggle {
    padding: 10px;
    background-color: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 8px;
}

.theme-toggle .app {
    --color-select-background: var(--color-select-background-light);
    --color-select-text: var(--color-select-text-light);
    --color-background: var(--color-background-light);
    --color-text: var(--color-text-light);
}


.theme-toggle:checked .app {
    --color-select-background: var(--color-select-background-dark);
    --color-select-text: var(--color-select-text-dark);
    --color-background: var(--color-background-dark);
    --color-text: var(--color-text-dark);
}
